.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #22272E;
    flex-direction: column;
}

.logo{
    height: 100px;
    margin-bottom: 20px
}

.card{
    background-color: #8434DE;
    width: 350px;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0.2);
}

.card-question{
    padding: 8px;
}

.card-title{
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
}

.question{
    color: #fff;
    font-weight: 300;
    text-align: center;
    padding-top: 1rem;
}

.card-answer{
    padding-top: 8px;
}
.card-options{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-options button{
    background-color: #8434DE;
    border-style: solid;
    border-width: 2px;
    color:#fff;
    width: 100%;
    border-color: #7204DE;
    padding: 10px 20px; 
    margin-bottom:10px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 10px;
}

.card-options button:hover{
    background-color: #6c05d3;
    transition: 0.2s;
    color: #fff;
    border-color: #7204DE;
}
